.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 0.5em 1.25em;
  background: #b49461;
  border-radius: 0.25em;
  margin: 0.5em;
  transition: transform 225ms ease-in-out, opacity 225ms linear;
  cursor: pointer;
  border: none;
}

.textInput {
  width: 100%;
}

.btnSmall {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.5em 1.25em;
  background: #b49461;
  border-radius: 0.25em;
  margin: 0.5em;
  transition: transform 100ms ease-in-out, opacity 100ms linear;
  cursor: pointer;
  border: none;
}

.btnSmall:hover,
.btnSmall:focus {
  transform: scale(1.05);
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  .btn {
    font-size: 1rem;
  }
}
