.container {
  padding: 0;
  display: block;
}

.hero {
  text-align: center;
  padding: 20em 0;
  background: #202124;
  background-image: url(../public/space-background.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.main {
  min-height: 100vh;
  padding: 2em 2em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapTitle {
  font-size: 2rem;
  font-weight: 700;
  margin: 1em;
}

.mapContent {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.howToContent {
  padding: 10em 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  font-size: 1.115rem;
  text-align: center;
}

.howToTitle p {
  opacity: 80%;
}

.howToTitle p:first-child {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0 1em;
  opacity: 100%;
}

.howToMain p {
  margin: 1em 0;
  opacity: 80%;
}

.heroContainer {
  z-index: 3;
}

.heroButtonGroup {
  display: flex;
  width: 60%;
  justify-content: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 0.5em 1.25em;
  background: #b49461;
  border-radius: 0.25em;
  margin: 0 0.5em;
  transition: transform 225ms ease-in-out, opacity 225ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

.playBtn {
  margin-top: 1em;
  background: #9e9e9e;
  pointer-events: none;
}

.playSubText {
  font-size: 0.9rem;
}

.svgContainer {
  width: 100%;
  height: 100%;
}

.svg {
  top: 0;
  left: 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 800;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
