.container {
  padding: 0;
  display: block;
}

.hero {
  text-align: center;
  padding: 20em 0;
  background: #202124;
  background-image: url(../public/space-background.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.main {
  min-height: 100vh;
  padding: 2em 2em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapTitle {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5em;
  text-align: center;
}

.mapDescription {
  margin: 0.5em;
  max-width: 40%;
}

.mapContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.howToContent {
  padding: 10em 0 5em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  font-size: 1.115rem;
  text-align: center;
}

.howToTitle p {
  opacity: 80%;
}

.howToTitle p:first-child {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0 1em;
  opacity: 100%;
}

.howToMain p {
  margin: 1em 0;
  opacity: 80%;
}

.heroContainer {
  z-index: 3;
}

.heroButtonGroup {
  display: flex;
  width: 60%;
  justify-content: center;
}

.mapText {
  text-shadow: 0px 0px 6px white;
}

.map {
  width: 70%;
}

.playSubText {
  font-size: 0.9rem;
}

.svgContainer {
  width: 100%;
  height: 100%;
}

.svg {
  top: 0;
  left: 0;
}

.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 800;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.errorText {
  font-size: 0.75rem;
  font-weight: 400;
}

.faq {
  padding: 0 0 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  font-size: 1.115rem;
  text-align: center;
}

.faqMain a {
  text-decoration: underline;
  color: #b49461;
}

.faqQ {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1em 0;
}

.faqA {
  font-size: 1rem;
  opacity: 80%;
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 0;
  }

  .map {
    width: 100%;
    text-align: center;
  }

  .mapTitle {
    font-size: 1.5rem;
  }

  .mapDescription {
    font-size: 0.875rem;
    max-width: 90%;
    text-align: center;
  }

  .mapText {
    text-shadow: none;
    font-size: 1.25rem;
  }

  .howToContent {
    max-width: 90%;
  }

  .faq {
    max-width: 90%;
  }

  .hero {
    padding: 12em 0;
    display: flex;
    justify-content: center;
  }

  .heroContainer {
    max-width: 90%;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.25rem;
  }

  .heroButtonGroup {
    width: 100%;
  }
}
